{% extends 'shop/basic.html' %}
{% load static %}

{% block title %} CheckoutPage {% endblock %}
{% block extra_in_head %}
<link rel="stylesheet" href="{% static '/shop/checkout.css'%}">
{% endblock %}

{% block content %}
<section class="mb-5 checkout_sections checkout_first_section">
    <div class="checkout_container">
        <div id="checkout_alert" class="alert alert-danger d-none" role="alert">
            Your cart is empty! Add some products in cart for checkout
        </div>
        {% if order_place %}
        <div id="checkout_order_place_alert" class="alert alert-success checkout_order_place_alert" role="alert">
            <span class="track_order_text">Congratulations, Your order has placed Successfully! Order Id:
                {{order_id}}</span>
            <a href="/tracker"><button type="button" class="btn btn-success track_order_button">Track
                    Order</button></a>
        </div>
        {% endif %}
        <h4 class="mb-3">Step-1 Review Your Cart Items</h4>
        <ul id="checkout_first_step_ul_id" class="list-group">
        </ul>
    </div>
</section>
<section class="checkout_sections checkout_second_section">
    <div class="checkout_container">
        <h4 class="mb-3">Step-2 Enter Address & Other Details</h4>
        <form id="checkout_second_step_form" class="row g-3" action="/checkout/" method="post">{% csrf_token %}
            <input type="hidden" name="item_json" id="item_json">
            <div class="col-md-6">
                <label for="checkout_inputname" name="" class="form-label">Full Name<span
                        class="require_star">*</span></label>
                <input type="text" name="name" class="form-control required_input" id="checkout_inputname">
                <div id="name_error" class="form-text error_message"></div>
            </div>
            <div class="col-md-6">
                <label for="checkout_inputEmail" class="form-label">Email<span
                        class="require_star">*</span></label></label>
                <input type="email" name="email" class="form-control required_input" id="checkout_inputEmail">
                <div id="email_error" class="form-text error_message"></div>
            </div>
            <div class="col-12">
                <label for="checkout_inputAddress" class="form-label">Address<span class="require_star">*</span></label>
                <input type="text" name="address" class="form-control required_input" id="checkout_inputAddress"
                    placeholder="1234 Main St">
                <div id="address_error" class="form-text error_message"></div>
            </div>
            <div class="col-12">
                <label for="checkout_inputAddress2" class="form-label">Address 2</label>
                <input type="text" name="address2" class="form-control" id="checkout_inputAddress2"
                    placeholder="Apartment, studio, or floor">
            </div>
            <div class="col-md-3">
                <label for="inputCity" class="form-label">City</label>
                <input type="text" name="city" class="form-control" id="inputCity">
            </div>
            <div class="col-md-3">
                <label for="inputState" class="form-label">State</label>
                <input type="text" name="state" class="form-control" id="inputState">
            </div>
            <div class="col-md-4">
                <label for="inputCity" class="form-label">Phone<span class="require_star">*</span></label></label>
                <input type="tel" name="phone" class="form-control required_input" id="inputCity">
                <div id="phone_error" class="form-text error_message"></div>
            </div>
            <div class="col-md-2">
                <label for="inputZip" class="form-label">Zip<span class="require_star">*</span></label>
                <input type="text" name="zip_code" class="form-control required_input" id="inputZip">
                <div id="zip_error" class="form-text error_message"></div>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-success">Place Order</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}

{% block script_block %}
<script src="{% static 'js/checkout.js' %}"></script>
{% endblock %}