{% extends 'shop/basic.html' %}
{% load static %}

{% block title %} TrackerPage {% endblock %}
{% block extra_in_head %}
<link rel="stylesheet" href="{% static '/shop/tracker.css' %}">
{% endblock %}

{% block content %}
<section class="mb-5 tracker_sections tracker_first_section">
    <div class="tracker_container">
        <div id="order_not_found_alert_div">
        </div>
        <h4 class="mb-3">Track Your Order</h4>
        <form id="tracker_order_form" class="row g-3" action="/tracker" method="post">{% csrf_token %}
            <input type="hidden" name="item_json" id="item_json">
            <div class="col-md-4">
                <label for="tracker_orderid" class="form-label">Order ID<span class="require_star">*</span></label>
                <input type="text" name="order_id" class="form-control required_input" id="tracker_orderid">
                <div id="name_error" class="form-text error_message"></div>
            </div>
            <div class="col-md-8">
                <label for="tracker_email" class="form-label">Email<span class="require_star">*</span></label></label>
                <input type="email" name="email" class="form-control required_input" id="tracker_email">
                <div id="email_error" class="form-text error_message"></div>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-success">Track Order</button>
            </div>
        </form>
    </div>
</section>
<section class="mb-5 tracker_sections tracker_second_section">
    <div class="tracker_container">
        <h4 id="order_status_second_heading" class="mb-3"></h4>
        <div class="tracked_order_container">
            <ul id="tracker_status_ul_id" class="list-group tracker_status_ul">
            </ul>
        </div>
    </div>
</section>
{% endblock %}
{% block script_block %}
<script src="{% static 'js/tracker.js' %}"></script>
{% endblock %}